.wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

textarea {
   border: 1px solid orange;
   width: 100%;
   padding: 10px 0 0 10px;
}

label {
   display: block;
   margin-bottom: 5px;
}