.myBtn {
   padding: 3px 15px;
   color: black;
   font-size: 14px;
   background-color: transparent;
   background-color: #F68E4F;
   color: white;
   border-radius: 5px;
   cursor: pointer;
   height: auto;
   width: fit-content;
   transition-duration: 0.3s;
}

.myBtn:hover {
   background-color: #40C8C2;
   color: #3785B7;
}