.myHeader {
   width: 90%;
   height: auto;
   margin: 20px 0 10px 0;
   padding: 10px 20px;
   background-color: #7973a5;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.btnWrapper {
   display: flex;
   text-align: center;
   justify-content: center;
}

.userNameBox {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 20px;
}

.userNameText {
   font-size: 16px;
   font-weight: 800;
}